/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.grey-container {
    position: fixed;
    width: 100%;
}

/* COMMON */
body {
    font-family: "Roboto";
    color: #3e5164;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
}

.two-col {
    width: 50%;
}
/* Containers */
.wide-container {
    width: 1024px;
    margin: auto;
}

.tight-container {
    width: 800px;
    margin: auto;
}

.small-container {
    width: 580px;
    margin: auto;
}

/* Text */

.common-text {
    font-size: 11px;
    line-height: 22px;
    color: #3e5164;
    font-family: Arial, Helvetica, sans-serif;
}

.small-text {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.banner-text {
    width: 40%;
    color: #3a4c60;
}

.footer-text {
    font-size: 12px;
    color: #a5b2c0!important;
    font-family: Arial, Helvetica, sans-serif;
}

/* Buttons */
.button {
    padding: 10px 10px;
    background-color: #fe7e63;
    border-radius: 5px;
    border: 1px solid #fe7e63;
    color: white !important;
}

.button-container {
    padding: 40px 0;
}

.contact-support-button {
    color: #3e5164;
    font-size: 11px;
    background-color: #dadee0;
    padding: 3px 8px;
    border-radius: 5px;
    margin: 20px 0;
    display: inline-block;
}

/* HEADER */

/* Menu's Common */
.nav-menu i {
    padding: 0 7px;
}

header nav {
    margin: 30px 0;
}

.nav-menu li {
    display: inline-block;
    font-size: 12px;
}

.nav-menu li a {
    color: #3e5164;
}


/* Grey Top Header */
.grey-container {
    background-color: #f4f9fd;
    border-bottom: 1px solid black;
}


/* Grey Header Menu Left Side */

.nav-menu .nav-english {
    padding-right: 10px;
    border-right: 1px solid black;
}

.nav-menu .nav-contact-us {
    padding-left: 10px;
}

/* Grey Header Menu Right Side */
.dx-menu {
    text-align: right;
}

.fa-search {
    color: #0ea9c1;
}

.dx-menu .log-in a {
    color: #fe7e63;
    border: 1px solid #fe7e63;
    padding: 10px 10px;
    border-radius: 5px;
}

.dx-menu li {
    padding-left: 20px;
}

/* Logo-header */
.logo-header .nav-menu {
    line-height: 30px;
}

.logo-header {
    padding-top: 80px;
}

/* BANNER-Jumbotron */
.banner {
    height: 550px;
    background-image: url(../img/jumbotron.png);
    background-size: cover;
    background-position: 0 -3%;
}


.banner-text h1 {
    padding: 70px 0 20px 0;
    font-size: 38px;
}

.banner-button {
    display: inline-block;
    margin: 40px 0;
}



/* Splitting Green Line */
.splitting-line {
    height: 100px;
    border-top: 3px solid #33475b;
    border-bottom: 3px solid #33475b;
    background-color: #afebe4;
}

/* MAIN */

/* Main Common */
h2, h3 {
    padding: 20px 0;
}

/* Main First Section */
.main-first-section img {
    height: 70px;
}
/* First Section Container */
.main-first-section {
    padding-top: 40px;
    background-color: #f4f9fd;
}

main i {
    color: #fe7e63;
}

/* Cube Logo */
.cube-logo-box {
    text-align: center;
    margin-bottom: 40px;
}

.cube-logo-box img {
    height: 150px;
}

.cube-logo-box h2 {
    margin: 20px 0;
}

/* Free HubSpot CRM */
.free-hubspot-crm {
    padding: 50px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0.5px 1px 3px grey;
    margin-bottom: 40px;
}

/* First Column */
.col-one {
    width: 40%;
    text-align: center;
}

/* Second Column */
.col-two {
    width: 60%;
    padding-right: 100px;
}

.popular-feature {
    text-transform: uppercase;
    margin: 30px 0;
}

.pop-text {
    padding-right: 40px;
}

.col-two .nav-menu li {
    padding-right: 15px;
}

/* Splitting Rows */
.splitting-row {
    width: 255px;
    border-bottom: 1px solid #3e5164;
    display: inline-block;
    vertical-align: middle;
}

.splitting-row-two {
    margin: auto;
    width: 80%;
    border-bottom: 1px solid #3e5164;
    padding: 30px;
    margin-bottom: 45px;
}

/* Hubs */
.hub-col-left,
.hub-col-center,
.hub-col-right {
    width: 30%;
    text-align: center;
    background-color: white;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0.5px 1px 3px grey;
    margin-bottom: 40px;
}

.hub-col-center {
    margin: 0 5%;
}

.hubs .nav-menu li {
    display: block;
    text-align: left;
}

/* Main Second Section */
.main-second-section {
    background-image: linear-gradient(to right, #00abb8, #00baa9);
    padding-bottom: 40px;
}

.white-text-container {
    text-align: center;
    padding: 40px 80px;
    color: white;
}

.white-text-container .common-text {
    color: white !important;
}

/* Statistics */
/* Grid */
.statistics .grid-one,
.grid-two,
.grid-three,
.grid-four,
.grid-five,
.grid-six,
.grid-seven,
.grid-eight {
    width: 25%;
    text-align: center;
    padding: 25px;
}

.statistics .grid-one, 
.grid-two,
.grid-three,
.grid-four {
    border-bottom: 1px solid white;
}

.statistics .grid-one,
.grid-two,
.grid-three,
.grid-five,
.grid-six,
.grid-seven {
    border-right: 1px solid white;
}

/* Numbers and text */
.statistics-number {
    font-size: 40px;
    color: white;
    margin: 10px 0;
}

.statistics-text p {
    color: white !important;
}

.plus {
    font-size: 20px;
    vertical-align: middle;
}

/* Main third Section */
.main-third-section {
    padding-bottom: 40px;
}

/* Columns */

/* Start Growing */
.start-growing {
    width: 40%;
    padding-top: 40px;
}

.customers h2 {
    font-size: 40px;
}

.customers {
    width: 38%;
    margin: auto;
}

.hubspot-today {
    margin-top: 50px;
}

.hubspot-today h2 {
    font-size: 28px;
}

.hubspot-today p {
    padding-right: 60px;
}

/* Companies' Logos */
.companies-logos {
    width: 60%;
}

.logos {
    width: 80%;
    margin: auto;
    margin-top: 40px;
}

.companies-logos img {
    height: 100%;
    width: 100%;
}

.company {
    width: 24%;
    display: inline-block;
    padding: 12px;
    vertical-align: middle;
} 

/* Girl's Picture */
.girl-img {
    width: 45%;
    margin: 10% 0 0 50%;
}

/* FOOTER */
footer {
    background-color: #32495b;
}

/* Footer Columns */
.f-one,
.f-two,
.f-three,
.f-four {
    width: 25%;
}

.f-one,
.f-two,
.f-three,
.f-four ul li {
    line-height: 30px;
}

footer h5 {
    color: white;
    padding: 30px 0;
}

.f-four h5 {
    padding: 38px 0;
}

/* Footer Languages */
.lang-menu {
    text-align: center;
}

.lang-menu li {
    display: inline-block;
    padding: 30px 15px 10px 15px;
}

/* Legal-privacy */
.leg-priv {
    text-align: right;
}

.leg-priv nav ul li {
    padding-left: 20px;
}

.logo-privacy {
    border-top: 1px solid white;
    padding: 20px 0;
}

.logo-privacy p {
    color: white !important;
}






















