/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* COMMON */
body {
    font-family: "Roboto";
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
}

.two-col {
    width: 50%;
}

.wide-container {
    width: 1024px;
    margin: auto;
}

.tight-container {
    width: 800px;
    margin: auto;
}

.small-container {
    width: 580px;
    margin: auto;
}

.common-text {
    font-size: 11px;
    line-height: 22px;
    color: #3e5164;
}

/* Buttons */
.button {
    padding: 10px 10px;
    background-color: #fe7e63;
    border-radius: 5px;
    border: 1px solid #fe7e63;
    color: white !important;
}

/* HEADER */

/* Menu's Common */
.nav-menu i {
    padding: 0 7px;
}

header nav {
    margin: 30px 0;
}

.nav-menu li {
    display: inline-block;
    font-size: 12px;
}

.nav-menu li a {
    color: black;
}


/* Grey Top Header */
.grey-container {
    background-color: #f4f9fd;
    border-bottom: 1px solid black;
}


/* Grey Header Menu Left Side */

.nav-menu .nav-english {
    padding-right: 10px;
    border-right: 1px solid black;
}

.nav-menu .nav-contact-us {
    padding-left: 10px;
}

/* Grey Header Menu Right Side */
.dx-menu {
    text-align: right;
}

.fa-search {
    color: #0ea9c1;
}

.dx-menu .log-in a {
    color: #fe7e63;
    border: 1px solid #fe7e63;
    padding: 10px 10px;
    border-radius: 5px;
}

.dx-menu li {
    padding-left: 20px;
}

/* Logo-header */
.logo-header .nav-menu {
    line-height: 30px;
}

/* BANNER-Jumbotron */
.banner {
    height: 550px;
    background-image: url(../img/jumbotron.png);
    background-size: cover;
    background-position: 0 -3%;
}

.banner-text {
    width: 40%;
    color: #3a4c60;
}

.banner-text h1 {
    padding: 70px 0 20px 0;
    font-size: 38px;
}

.banner-button {
    display: inline-block;
    margin: 40px 0;
}

.banner-text .small-text {
    font-size: 10px;
}

/* Splitting Green Line */
.splitting-line {
    height: 100px;
    border-top: 3px solid #33475b;
    border-bottom: 3px solid #33475b;
    background-color: #afebe4;
}

/* MAIN */

/* First Section Container */
.main-first-section {
    padding-top: 40px;
    background-color: #f4f9fd;
}

/* Cube Logo */
.cube-logo-box {
    text-align: center;
    margin-bottom: 40px;
}

.cube-logo-box img {
    height: 150px;
}

.cube-logo-box h2 {
    margin: 20px 0;
}

/* Free HubSpot CRM */
.free-hubspot-crm {
    padding: 50px;
    background-color: white;
    text-align: center;
}

.col-one {
    width: 30%;
    
}

.col-two {
    width: 70%;
}

.col-one img {
    height: 70px;
}

